<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-8">
    <h3>Create a new blog:</h3>

    <form class="form new-blog-form">
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="blog-title" name="blog-title" />
        <label for="floatingInput">Blog Title:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="blog-body" name="blog-body" />
        <label for="blog-body">Body:</label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Publish</button>
      </div>
    </form>
  </div>

  {{#if blogs.length}}
  <div class="col-md-4 blog-list">
    <h3>Your Current Blogs:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-body fs-5">
            <a href="/blog/{{blog.id}}" class="blog-link">{{blog.title}} </a>
            </div>
          <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">Delete Blog</button>
        </div>
      </div>

    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
